@model IEnumerable<Ecommerce.Web.Model.ProductViewModel>

@{
    ViewData["Title"] = "Products";
}

@*<link rel="stylesheet" href="~/css/styleproduct.css" />*@

<style>
    .hover:hover {
        color: blueviolet;
        background-image: linear-gradient(to right,#000428, #004e92);
    }
</style>

<h2 class="text-center">Products</h2>
@if (Model != null)
{
    @*<table class="table table-striped">
        <thead>
    <tr>

    <th>
    @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Price)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Photo)
    </th>
    <th></th>
    </tr>
    </thead>
    <tbody>*@
    @foreach (var item in Model)
    {
        <div class="container-fluid">
            <div class=" hover card shadow-lg mb-4" style="background-color:lightblue;border-radius:20px;">
                <h2 class="text-center mb-1">
                    @Html.DisplayFor(modelItem => item.Name)
                </h2>
                <div class="row" style="display:flex;justify-content:start">
                    <div class="col-md-4">
                        <img src="~/ProductImages/@item.Photo" width="200" height="200" style="border-radius:20px;margin:5px 5px 5px 5px;" />
                    </div>
                    <div class="col-md-4 d-flex flex-column">
                        @*<div>
                @Html.DisplayFor(modelItem => item.Name)
                </div>*@
                        <div>
                            <h2>Price : @Html.DisplayFor(modelItem => item.Price)</h2>
                        </div>
                        <div class="mt-auto mb-5">
                            <h4>@Html.ActionLink("View", "ProductDetail", new { productId = item.Id },new {@class="btn-primary btn-lg"})</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @*</tbody>
    </table>*@
}
else
{

    <h4>No Product found</h4>
}
